
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


$font-family: 'Roboto', sans-serif;
$font-size: 16px;

$color1: #707070;

$pc-layout-width: 1000px;
$pc-window-gap: 20px;

$sp-layout-width: 76.8rem;
$sp-window-gap: 2rem;

// Custom Variables for bootstrap
@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';

$grid-breakpoints: (
  xs: 0, //default grid-breakpoint
  sp: 320px, //custom grid-breakpoint
  sm: 576px, //default grid-breakpoint
  md: 768px, //default grid-breakpoint
  pc: 769px, //custom grid-breakpoint
  lg: 992px, //default grid-breakpoint
  xl: 1200px, //default grid-breakpoint
  xxl: 1400px  //default grid-breakpoint
);

@import 'bootstrap/scss/bootstrap.scss';   