// foundation
@forward './Project/Components/scss/foundation';

// components
@use './Project//Components/Input/Textbox/input-textbox';
@use './Project//Components/Input/Checkbox/input-checkbox';
@use './Project//Components/Input/Radio/input-radio';
// layout
@import  './Project/Layout/Header/Header';
@import  './Project/Layout/Footer/Footer';
@import  './Project/Layout/Nav/Nav';

// pages
@import  './Project/Pages/About/About';
@import  './Project/Pages/Home/Home';
@import  './Project/Pages/Product/Product';
@import  './Project/Pages/Services/Services';
@import  './Project/Pages/Contact/Contact';
@import  './Project/Pages/NotFound/NotFound';

.app {
    display: block;
    position: relative;
}